.Layout {
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 10% 5% 80% 5%;
  grid-template-columns: 100%;
}

header {
  grid-row: 1;
}

aside {
  grid-row: 2;
}

main {
  grid-row: 3;
  overflow: auto;
}

footer {
  grid-row: 4;
}

.Layout,
.Layout > * {
  border: 1px solid;
}
